@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,500&display=swap');


.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%
}
/*column*/

*{
	padding: 0;
	margin: 0;
}
#wrapper{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	animation: start 2s linear;
}
@keyframes start{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.logo img{
	width: 90px;
	transition-duration: 0.5s;
}
.logo img:hover{
	width: 110px;
}
nav{
	min-width: 750px;
	line-height: 60px;
/*	background: #1C1C1D;*/
}
nav ul{
	list-style: none;
	font-weight: 900;
	font-size: 1.25rem;
	display: flex;
	justify-content: flex-end;
}
nav ul li{
	margin-left: 40px;
}
nav ul li a{
	text-decoration: none;
	color: #1C1C1D;;
	transition-duration: 0.5s;
}
nav ul li a:hover{
	font-size: 1.5rem;
	opacity: 0.8;
}
.icons {
	font-size: 1.75rem;
	text-align: center;
	float: right;
	margin-left: 10px;
}
.icons a{
	text-decoration: none;
	color: #1C1C1D;;
	transition-duration: 0.5s;
}
.icons a:hover{
	font-size: 2rem;
}
/*header colohttps://colorhunt.co/palette/220004*/

.welcome{
	height: 250px;
	padding: 100px 60px;
	margin-left: 25px;
}
.welcome h1{
	font-weight: 900;
	font-size: 96px;
	letter-spacing: 8px;
	animation: text 1.5s;
	animation-timing-function: ease-in-out;
	color: #1C1C1D;
}
.welcome h2{
	font-weight: 500;
	margin-bottom: 10px;
	font-style: italic;
	font-size: 60px;
	margin-left: 120px;
	animation: text-2 1.5s;
	animation-timing-function: ease-out;
	color: #1C1C1D;
}
.text-stroke{
	 -webkit-text-fill-color: #fbdb48; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
@keyframes text{
	from{
		transform: translateX(-900px)
	}
	to{
		transform: translateX(0px)
	}
}
@keyframes text-2{
	from{
		transform: translateX(1500px)
	}
	to{
		transform: translateX(0px)
	}
}
.about{
	margin-top: 100px;
}
.banner{
	background: url("img/1x/home-01.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 500px;
	width: 500px;
	margin-left: 90px;
	margin-top:  20px;
	animation: ngang 2.5s infinite linear;
}
@keyframes ngang{
	0%{
		transform: translateX(0)
	}
	50%{
		transform: translateX(15px)
	}
	100%{
		transform: translateX(0)
	}
}
@keyframes doc{
	0%{
		transform: translateY(0)
	}
	50%{
		transform: translateY(15px)
	}
	100%{
		transform: translateY(0)
	}
}
.me{
	background: url("img/1x/me.png");
	height: 500px;
	background-repeat: no-repeat;
	margin-left: 200px;
	margin-top: 50px;
	animation: doc 2.5s infinite linear;
}
.abouttext{
	height: 400px;
	margin-top: 50px;
}
.abouttext h1{
	font-weight: 900;
	font-size: 60px;
	line-height: 100px;
}
.name{
	 -webkit-text-fill-color: #fbdb48;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
	font-size: 21px;
	font-weight: 900;
}
p{
	font-weight: 300;
	font-size: 16px;
	color: #1c1c1d;
}
.boxname{
	width: 100px;
	height: 50px;
	float: left;
	padding: 0 20px;
}
.boxname2{
	width: 100px;
	height: 50px;
	float: right;
	padding: 0 60px;
}
.skillbar{
	box-sizing:border-box;
}
.skillbar h1{
	font-weight: 900;
	font-size: 60px;
	margin-left: 500px;
	line-height: 150px;
}
.container1 {
  width: 70%; 
  background-color: #ddd;
  border-radius: 20px;
  margin-left: 250px;
}

.skills {
  text-align: right; 
  height: 30px;
  color: white;
  border-radius: 20px;
 margin-top: 10px;
}

.pts {width: 75%; background-color: #1c1c1d;} 
.ai {width: 80%; background-color: #fbdb48;} 
.ids {width: 60%; background-color: #1c1c1d;} 

.adobe{
	width: 30%;
	height: 130px;
/*	background: red;*/
	float: left;
}
#pts-1{
	background: url("img/adobe-photoshop-logo.png");
	height: 40px;
	width: 40px;
	background-size: contain;
	margin-top: -5px;
	margin-left: 150px;
}
#ai-1{
	background: url("img/adobe-illustrator.png");
	height: 40px;
	width: 40px;
	background-size: contain;
	margin-top: 20px;
	margin-left: 150px;
}
#ids-1{
	background: url("img/adobe-indesign-logo.png");
	height: 40px;
	width: 40px;
	background-size: contain;
	margin-top: 20px;
	margin-left: 150px;
}
.portfolio{
	margin-top: 100px;
}
.portfolio h1{
	font-weight: 900;
	font-size: 60px;
	line-height: 150px;
	margin-left: 500px;
}
.bd{
	height: 390px;
	border: medium solid black;
	animation: scale 2.5s infinite linear;
}
.pf1{
	background: url("img/qinni.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 400px;
}
.pf2{
	background: url("img/people.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 390px;
	margin-left: 20px;
}
.pf3{
	background: url("img/donut.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 400px;
	margin-top: 20px;
}
.row1{
	display: flex;
	justify-content: space-between;
}
@keyframes scale{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.03);
	}
	100%{
		transform: scale(1);
	}
}
.services{
	margin-top: 100px;
}
.services h1{
	font-weight: 900;
	font-size: 60px;
	line-height: 150px;
	margin-left: 500px;
}
.services h2{
	font-weight: 900;
	font-size: 30px;
	line-height: 80px;
}
.nameservices{
	height: 250px;
	margin-top: 10px;
	text-align: center;
}
.illustration{
	background: url("img/paint.png");
	background-size: contain;
	width: 80px;
	height: 80px;
	margin-left: 100px;
}
.graphic{
	background: url("img/creativity.png");
	background-size: contain;
	width: 80px;
	height: 80px;
	margin-left: 100px;
}
.photograph{
	background: url("img/camera.png");
	background-size: contain;
	width: 80px;
	height: 80px;
	margin-left: 100px;
}
.talk h1{
	font-weight: 900;
	font-size: 60px;
	margin-left: 445px;
	margin-top: 70px;
	line-height: 50px;
}
.namecontact{
	height: 200px;
	margin-top: 55px;
	display: flex;
	justify-content: center;
}
.call{
	background: url("img/4x/Asset 4@4x.png");
	width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
}
.infor{
	width: 150px;
	padding: 10px 30px;
}
.mail{
	background: url("img/4x/Asset 6@4x.png");
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 12px;
}
.insta{
	background: url("img/4x/Asset 5@4x.png");
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 10px;
}
.talk h2{
	font-weight: 900;
	font-size: 21px;
}
footer{
	height: 70px;
	padding: 30px 0px;
	background: #1c1c1d;
	margin: 25px 0px 0px 0px;
	text-align: center;
}
footer h1{
	font-weight: 300;
	font-size: 21px;
	color: #fbdb48;
	margin-top: 10px;
}







